<p id="hpb-{{index}}">{{name}}</p>
<div class="progress"> 
    <div class="progress-bar" id="pb-{{index}}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%;background-color:{{color}};"> 
    </div> 
</div>